<div class="well well-small taven-blue">
    <div class=" animate ">
        <div ui-show="showHide" >
                       
        </div>
        <div ui-toggle="showHide" > 
            <div>
                <span><input type="text" ng-model="nuevoArticulo.ArticuloCodigo" placeholder="Codigo" class="span2"></span>
                <span><input type="text" ng-model="nuevoArticulo.ArticuloNombre" placeholder="Nombre del articulo" class="span6"></span>
                <span><input type="text" ng-model="nuevoArticulo.ArticuloPrecio" placeholder="$ Precio" class="span2"></span>
                <span>
                    <select ng-model="nuevoArticulo.CategoriaId" ng-options="categoria.CategoriaId as categoria.CategoriaNombre for categoria in categorias" class="span2" >
                        <option value="" > Categoria..</option>
                    </select>
                </span> 
            </div>
            <div>
                <textarea type="text" ng-model="nuevoArticulo.ArticuloDescripcion" placeholder="Descripcion" class="span12"></textarea>
            </div>

            <button class="btn btn-success" ng-click="addArticulo(articulo);"><i class=" icon-check"></i> Guardar articulo</button>
            <buttom ng-click="showHide=!showHide" class="btn ">Cancelar</button> 

        </div>
        <div ui-hide="showHide" >
            <a  ng-click="showHide=!showHide" class="btn btn-info "><i class=" icon-plus"></i> Agregue un articulo</a>
        </div>    
    </div>
    
</div>
