  body
  {
    /*background-image:  url("../img/whitey.png");*/
    /*background-image:  url("http://subtlepatterns.com/patterns/45degreee_fabric.png");*/
    background-repeat: repeat-x repeat-y;
  }
  
  .tl{
    text-align: left;
  }
  .tr{
    text-align: right;;
  }
  .tc{
    text-align: center;
  }
  .tb {
    text-align: block;
  }
  .avatar 
  {
    width:48px;
    height:48px;
    display: block;
    padding: 4px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  }

    .toolbar-option {
          width:80px;
          height:52px;
          padding-top:10px;
          padding-bottom:10px;
          text-align:center; 
          margin-right:auto;
          margin-left:auto;
    }
    
    .toolbar-image {
        display:block;
        height:31px;
      
        
    }
    
 
    
    .toolbar-option .caption {
        text-align:center;

    }
    
    .taven-grid-attribute
    {
        color: #4BB0DB    ;
    }
    
    .taven-table td {
        
        color: #777;
    }
    
    .taven-list-header {
        
        padding-left:20px;
        padding-bottom: 9px;
        margin: 20px 0 30px;
        border-bottom: 1px solid #dddddd;            
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
         border-radius: 4px;
        /* box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);
         -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3);*/
    }
   
    .taven-list-bordered{
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    
    .taven-list-frame {
        background-color : rgba(0, 0, 0, 0.03);

        -moz-border-radius    : 3px;
        -webkit-border-radius : 3px;
        border-radius         : 3px;

        -moz-box-shadow       : 0px -1px 0px rgba(255, 255, 255, 1) inset, 0px 1px 1px rgba(205, 207, 208, 1) inset;
        -webkit-box-shadow    : 0px -1px 0px rgba(255, 255, 255, 1) inset, 0px 1px 1px rgba(205, 207, 208, 1) inset;
        box-shadow            : 0px -1px 0px rgba(255, 255, 255, 1) inset, 0px 1px 1px rgba(205, 207, 208, 1) inset;
        position:relative;
        overflow:hidden;
        /*width:370px;*/
        margin:5px 0 0 0;
        padding-bottom:10px;
    }
    
    
    .taven-title {
        
        color: #227BB0;
        font-family: "calibri";
        font-size  : 22px;
    }
    
    .taven-error {
        
        color: #ff0000;
    }
    
    .taven-map {
        height: 400px;
        width: 380px;
    }
    
    .taven-float-none
    {
        margin: 0 auto;
        float: none;
    }
    
    .taven-align-center
    {
        text-align:center;
    }
    
    .taven-input-small
    {
        height:14px;    
    }
    
    
    
    .taven-preloader {
        background-image:  url("../img/ajax-loader.gif");
        width:43px;
        height:11px;
        display:block;
    }
    
    .taven-nav-list li
    {
        height:30px;
        padding-left:10px;
    }
    
    .taven-nav-list > .active > a,
    .taven-nav-list > .active > a:hover {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        /*background-color: #FF3300;*/
        
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    }
    .taven-container {
        
        padding-top:15px;
        padding-bottom:15px;
        padding-right:20px;
        padding-left :20px;
         background-color: #f5f5f5;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 1px 2px #bdbdbd;
        box-shadow: 0px 1px 2px #bdbdbd;
        opacity: 0.87;
        
   
    }
    
    .taven-blue{
        
        background-color: #E8F4F6;
    }
    
    .taven-listing {
        margin: 0 0 0px 0px;
    }

    .taven-listing li{
        
        min-height: 48px;
        display:block;
        /*margin: 0 0 0px 0px;*/ 
        
        padding-left :5px;
        padding-right:5px;
        padding-bottom: 6px;
        padding-top: 6px;
        
        
       
        border-bottom: 1px solid #d4d1d2;
  

        }

    .taven-products-list {
        margin: 0 0 0px 0px;
    }

    .taven-products-list li{
        
        min-height: 25px;
        display:block;
        /*margin: 0 0 0px 0px;*/ 
        
        padding-left :5px;
        padding-right:5px;
        padding-bottom: 6px;
        padding-top: 6px;
        
        
       
        border-bottom: 1px solid #d4d1d2;
  

        }

            
    .taven-thumbnail{
        padding:3px;
        border:1px solid #ddd;
        margin-top:4px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    


    .taven-section-title a {
        font-family: Segoe UI;
        font-size: 22px;
        color: #cccccc;
    }

    .taven-section-title .active {
        font-family: Segoe UI;
        color: #0088cc;
    }

    .ui-show {
        display:block;
    }

    .ui-hide {
	    display:none;
    }

    .taven-horizontal-margin {
        margin-top:5px;
        margin-bottom:5px;
    }

    .taven-text-description {
        font-size: 12px;
        color: #777;
    }

    .taven-text-title {
         color: #4BB0DB    ;
         font-size:16px;
         white-space: nowrap;
    }

    .taven-text-price {
        text-align: right;
    }

    .taven-page {
        box-shadow : 2px 2px 6px 3px #ccc;
        padding: 15px 15px 15px;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .navbar-inner .select2-container {
        margin-top:5px;
        vertical-align: middle;
    }


.product-list {
    margin: 0px 0px 0px 0px;
    list-style: none;
}
 
.product-list td {
    
    min-height: 66px;
    display: block;
       
    padding-left: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top:  2px;
    
    list-style-type:none;
}

.product-thumbnail 
{       
   float:left;       
}

.product-info 
{
    display:inline;
    float:left;
    padding-left:  8px;
    padding-right: 8px;
}

.product-extras 
{
    display:inline-block;
    float:left;  
    padding-right: 8px;
}


.product-title 
{
    font-weight:bold;
    color: #363636;
}

.product-description 
{    
    white-space:normal;
}

.product-price 
{
  float:left;
  padding-top: 12px;
  padding-left: 4px;    
}

.product-actions 
{
   float:left;
   padding-top: 12px;  
   padding-bottom: 5px;
}

.product-qty
{
    width: 35px !important;
    font-size: 11px !important;
    font-weight:bold;
}




.price-tags 
{
    display: inline-block;
    padding: 0;
    list-style-type: none;    
}

.price-tags span 
{
    float: left;
    line-height: 22px;
    position: relative;  
}

.price-tags a 
{
    
    background: #B04CA5;
    color: #FFFFFF;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.99em;
    padding: 3px 3px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
        
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;

    opacity: 0.8;
             
}


.price-tags a:after 
{
    
    border-top: 11px solid transparent;
    border-left: 13px solid #B04CA5;
    border-bottom: 11px solid transparent;    
    content: "";
    float: right;
    height: 0px;
    width: 0px;
    
}


.price-tags a:before {
    content: "";
    position: absolute;
    top: 9px;
    right: 5px;
    width: 4px;
    height: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    -moz-box-shadow: -1px -1px 1px #424444;
    -webkit-box-shadow: -1px -1px 1px #424444;
    box-shadow: -1px -1px 1px #424444;
}



.list-container {
    height: 400px;
    display:block;
    overflow-x : hidden;
    overflow-y: auto;
    margin-right : 10px;
}

.list-container::-webkit-scrollbar {
    width: 10px;
    height: 16px;
    /*background-color: #859CE6;*/
}

.list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    -webkit-box-shadow : inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.list-container::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    display: none;
}

.list-container::-webkit-scrollbar-corner{
    background-color: rgba(0,0,0,0);
}




.product-grid {
   margin: 5px 0px 0px 0px;
}

.product-grid li {
    
    float:left;
    display: inline;
    padding: 6px;
    text-align: center;
    
}

.product-grid .title {
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.product-grid .cell {
    
    background: rgba(255,255,255,1);
    margin-right: 6px;
    margin-bottom: 6px;
    border : 1px solid #DDD;
    display:block;
    height: 98px;
    width: 98px;
    position:relative;
    text-align:center;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #d7d7d7;
    
}

.product-grid .cell:active {

    background-color: #ffffff;
    box-shadow: inset 1px 1px 2px #d7d7d7;
}



.product-grid .cell::before  {
    background-color: #f9f9f9;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    left: -6px;
    top:-6px;

    z-index: -1;
    border-radius: 5px;
    box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;

}


.product-grid .cell img
{
    /*position:absolute;
    left:50%;
    margin-left: -48px;

    text-align: center;
    top:1px;*/
}

.product-grid .cell .price-tags{

    position: absolute;
    right: 0px;
    top:0px;
    background-color: #B04CA5;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.99em;
    text-shadow : 0 -1px 0 rgba(0,0,0,0.25);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    opacity: 0.8;
}

.product-grid .cell span {
    display:block;
    text-align:center;
}

.order {
   /*-webkit-box-shadow: 1px 1px 1px #DDD;
   box-shadow: 2px 1px 3px #DDD;    
   display:block;
   padding: 4px;*/
}

.order-header {
    min-height:40px;
}

.order-header-title {
    
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.order-header-actions {
    text-align:right;
    
}

.order-list {
    margin: 0px 0px 0px 0px;
    list-style: none;
}


 
.order-list td {
    
    min-height: 30px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left:0px !important;
    padding-right: 0px !important;
    
}

.order-item-thumbnail 
{       
   float:left;  
   padding-right: 5px;
}

.order-item-thumbnail img {
    height:48px; width:48px
}

.order-item-description {
    float:left;
    padding-right: 4px;
    width: 148px;
}

.order-item-info {
    display:inline;
    float:left;    
    
    
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 5px;
}





.order-item-qty {
    float:left;

    margin-bottom: 10px;
    margin-right: 5px;
    font-weight: normal !important;
    min-width:30px;
        
    
}


.order-item-total {
    float:left;

    margin-bottom: 10px;
    
    margin-right: 5px; 
    min-width:64px;
    text-align:right;
}


.order-item-actions 
{
   float:left;
   margin-right: 5px;
 
}

.order-item-delete 
{  
    float:right;
    
    margin-bottom: 10px;
    margin-right: 5px; 
    
    
}

.order-item-main-info {
    
}
.order-item-aditional-info{

    display: block;
    
    background-color: #e5f7ea;
    border-top : 1px solid #e5e5e5;
    /*border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
    box-shadow: inset 0px 1px 2px #f3f3f3;  
}

.order-footer {
    min-height: 80px;
    background-color: #f9f9f9;
}

.order-footer-actions {
    display: block;
}
.order-footer-subtotal-text {
    text-align:right;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.order-footer-subtotal-value {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

.order-item-actions .btn-toolbar
{
   
   margin: 0px;
   
 
}





