  body
  {
    background-image:  url("../img/whitey.png");
    background-repeat: repeat-x repeat-y;
  }
  
  .avatar 
  {
    width:48px;
    height:48px
    display: block;
    padding: 4px;
    line-height: 1;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  }
      
    .toolbar-option {
          width:80px;
          height:52px;
          padding-top:10px;
          padding-bottom:10px;
          text-align:center; 
          margin-right:auto;
          margin-left:auto;
    }
    
    .toolbar-image {
        display:block;
        height:31px;
      
        
    }
    
      .taven-list-bordered{
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
 
    
    .toolbar-option .caption {
        text-align:center;

    }
    
   
    
    
    
    .taven-title {
        color: #227BB0;
        font-family: "calibri";
        font-size  : 25px;
        }