
<div class="span12" ng-controller="CategoriasCtrl">

    <div class="taven-horizontal-margin ">
       <div ng-include src=" 'partials/articulos/header.html' "></div>    
    </div >

    <div class="taven-horizontal-margin">
            <div ng-include src=" 'partials/categorias-edit.html' "></div>
    </div>

    <div class="taven-horizontal-margin ">
        <ul class="taven-listing">
            <li ng-repeat="categoria in categorias | orderBy:'CategoriaNombre'">
                <div ng-show="inEditMode" class="taven-page">
                    <div>
                        <span><input class="input-block-level" type="text" ng-model="categoria.CategoriaNombre" placeholder="Nombre"></span>
                        <span><textarea class="input-block-level" type="text" ng-model="categoria.CategoriaDescripcion" placeholder="Detalles de la categoria(opcional)"></textarea></span>
                    </div>
                    <div>    
                        <span>
                            <button class="btn btn-success" ng-click="inEditMode=false;updateCategoria(categoria);"><i class="icon-check"></i> Guardar categoria</button>
                        </span>
                        <span>
                            <a class="btn" ng-click="inEditMode=false;">Cancel</a>
                        </span>
                    </div>
                </div>
                <div ng-hide="inEditMode">
                    <span class="span3 taven-text-title">
                        {{categoria.CategoriaNombre}}
                    </span>
                    <span class="span4 taven-text-description">{{categoria.CategoriaDescripcion}}</span>
                    <span class="span4">
                        <div class="pull-right">
                            <button class="btn " ng-click="inEditMode=true"><i class="icon-edit"></i>Editar</button>
                            <button class="btn btn-danger" ng-click="removeCategoria(categoria)"><i class="icon-trash"></i></button>
                        </div>
                    </span>
                </div>
            </li>
        </ul>
    </div>

 </div>
