
 <div id="/dashboard" class="page-header">
        <h3 id="/dashboard" class="taven-title">Dashboard <small> bienvenido...</small></h3>
  </div>
  <div class="row-fluid">
    <div class="span4">
       
        <section>Componente de capturas rapidas</section>
        <section>Lista de articulos a entregar</section> 
        <section>Lista de pedidos pendientes</section> 
        <section>Lista de cobros pendientes</section>
        <section>Lista de los articulos mas vendidos</section>
        --{{ userInfo | json}}
    </div>
    <div class="span8">Span 8</div>
</div>

