<div class="span8">
   
    <div class="span8 taven-horizontal-margin">
        
            <div  ng-include src="'partials/articulos/header.html'"> </div>
            
        
   </div>

      
    {{ errorMessage }}
      
    <div class="span8 taven-horizontal-margin">  
        <div ng-include src=" 'partials/articulos/articulos-edit.html' "></div>
    </div>

    <div class="span8 taven-horizontal-margin">
            <div class="controls  well well-small">
                <span style="display:inline-block"><i class="icon-filter"></i> </span>
                <input  class="span4" type="text" placeholder="Buscar..." ng-model="search.$">
                
                <select class="span2" ng-model="search.CategoriaId" ng-options="categoria.CategoriaId as categoria.CategoriaNombre for categoria in categorias" >              
                            </select>        
            </div>
    </div> 

    <div class="span8 taven-horizontal-margin">
        <ul class="taven-listing">
            <li ng-repeat="articulo in articulos | orderBy: 'ArtculoCodigo'" >

                <div ng-show="inEditMode" class=" ">
                    <div class="">
                        <span><input class="input-mini" type="text" ng-model="articulo.ArticuloCodigo" placeholder="Codigo"></span>
                        <span><input type="text" ng-model="articulo.ArticuloNombre" placeholder="Nombre"></span>
                        <span><input type="text" ng-model="articulo.ArticuloPrecio" placeholder="$ Precio" class="input-small"></span>

                        <span>
                            <select class="span2" ng-model="articulo.CategoriaId" ng-options="categoria.CategoriaId as categoria.CategoriaNombre for categoria in categorias" >              
                            </select>
                        </span>
                    
                        <br>
                        <span><textarea type="text" ng-model="articulo.ArticuloDescripcion" placeholder="Descripcion"></textarea>
                        </span>
                    </div>

                    <div>
                        <span>
                            <button class="btn btn-info" ng-click="inEditMode=false;updateArticulo(articulo);"><i class="icon-ok"></i> Guardar</button>
                        </span>
                        <span>
                            <a class=" " ng-click="inEditMode=false;"><i class=" icon-undo"></i> Cancel</a>
                        </span>
                    </div>
                </div>

                <div ng-hide="inEditMode" class="">
                    <span class="span1">
                        <img class="" height="30" src="https://asset1.basecamp.com/2117048/people/3384570-ivan-altamirano/photo/avatar.40.gif" title="Ivan Altamirano" width="30" />
                    </span>
                    <span class="">{{articulo.ArticuloCodigo}}</span>
                    <span class="span4">{{articulo.ArticuloNombre}} {{articulo.ArticuloDescripcion}}  </span>
                    <span class="">{{articulo.CategoriaId}} </span>
                    <span class="">{{articulo.ArticuloPrecio | currency}} </span>
                    <span class="">
                        <button class="btn btn-small" ng-click="inEditMode=true"><i class="icon-pencil"></i> Editar</button>
                        <button class="btn btn-small btn-danger" ng-click="inEditMode=true"><i class="icon-remove"></i> Eliminar</button>
                    </span>
                <div>
            </li>
        <ul>
     

    </div>
</div>
<div class="span4">
</div>